.contenedor-lista-contactos {
    display: flex;
    flex-direction: column;
    padding: 0 20px 0 20px;
}

.contenedor-titulo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-btn-add {
    margin: 20px;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end;
}

.contenedor-titulo strong h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #08c538;
    font-size: 30px;

}

.imagen-card {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    width: 200px;
    height: 200px;
    margin: 10px;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-size: cover;
    background-position: center;
}

.card-body {
    display: flex;
    margin-left: 60px;
    width: calc(100% - 260px);
}

.btn-eliminar {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.btn-editar {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.righthicon {
    display: flex;
    align-items: center;
    padding-right: 20px;
    margin-left: 10px;
    padding-bottom: 10px;
    position: absolute;
    bottom: 20px;
    left: 300px;

}